apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
      - name: gateway
        image: grpc-gateway:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 3000
        env:
          - name: GRPC_HOST
            value: "server-a-service"
          - name: PROTO_DIR
            value: "/app/proto"