apiVersion: v1
kind: Service
metadata:
  name: grpc-playlist-service
  namespace: microservices
spec:
  selector:
    app: grpc-playlist-service
  type: ClusterIP
  ports:
    - name: grpc
      protocol: TCP
      port: 50051
      targetPort: 50051
  