apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: app-alerts
  namespace: observability
  labels:
    release: kube-prometheus-stack
spec:
  groups:
    - name: http-service-alerts
      rules:
        - alert: HighHTTP5xxRate
          expr: |
            (sum(rate(http_requests_total{status=~"5.."}[5m]))
            /
            sum(rate(http_requests_total[5m]))) > 0.05
          for: 10m
          labels:
            severity: warning
          annotations:
            summary: "Taxa de erros 5xx alta (>5%)"
            description: "A taxa de 5xx ficou acima de 5% por 10m."

        - alert: HighHTTPP95Latency
          expr: |
            histogram_quantile(
              0.95,
              sum by (le) (rate(http_request_duration_seconds_bucket[5m]))
            ) > 1
          for: 10m
          labels:
            severity: warning
          annotations:
            summary: "P95 de latência HTTP > 1s"
            description: "P95 de latência acima de 1s por 10m."

    - name: grpc-service-alerts
      rules:
        - alert: HighGrpcErrorRate
          expr: |
            (sum(rate(grpc_server_requests_total{grpc_code!~"OK|OK.*"}[5m]))
            /
            sum(rate(grpc_server_requests_total[5m]))) > 0.05
          for: 10m
          labels:
            severity: warning
          annotations:
            summary: "Taxa de erro gRPC alta (>5%)"
            description: "A taxa de códigos gRPC não-OK ficou acima de 5% por 10m."