apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: sm-rest-download
  namespace: observability
  labels:
    release: kube-prometheus-stack
spec:
  namespaceSelector:
    matchNames:
      - microservices
  selector:
    matchLabels:
      app: rest-download-service
  endpoints:
    - port: http
      path: /metrics
      interval: 15s
      scrapeTimeout: 10s