apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: sm-grpc-playlist
  namespace: observability
  labels:
    release: kube-prometheus-stack
spec:
  namespaceSelector:
    matchNames:
      - microservices
  selector:
    matchLabels:
      app: grpc-playlist-service
  endpoints:
    - port: metrics
      path: /metrics
      interval: 15s
      scrapeTimeout: 10s