apiVersion: v1
kind: Service
metadata:
  name: rest-playlist-service
  namespace: microservices
spec:
  selector:
    app: rest-playlist-service
  type: ClusterIP
  ports:
    - name: http
      protocol: TCP
      port: 5001
      targetPort: 5001
  